*{
  background-color: #1c242c;
  color: #d0bb94;
}

hr.drink-rule{
  border-top: 1px solid #d0bb94;

}

.main-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Lobster', cursive;
}

.select-drink-form, .add-drink-form, .added-steps-panel {
  font-family: 'Roboto', sans-serif;
}

.added-steps-panel {
  border: solid white 2px;
  height: 300px;
  overflow: scroll;
  padding: 15px;
  position: absolute;
  right: -130%;
  top: 0;
  width: 225px;
}

.added-steps-header {
  font-family: 'Lobster', cursive;
}

.added-step {
  border: dashed white 1px;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
  position: relative;
}

.remove-btn {
  position: absolute;
  top: 0;
  right: 0;
}

#ellipsis-img {
  width: 60px;
  height: 60px;
}

#hot-drink-img {
  width: 100px;
  height: 100px;
}

#home-btn {
  color: white;
}

.cancel-btn {
  color: grey;
}

@media (max-width: 997px) {
  .main-container {
    width: 90%;
    text-align: center;
  }

  .added-steps-panel {
    position: relative;
    border: solid white 2px;
    height: 100%;
    padding: 15px;
    right: 0;
    width: 100%;
  }
  
  .added-step {
    border: dashed white 1px;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
  }

  .step {
    display: block;
  }

  .loading-image {
    width: 100%
  }
}